.home-swipe {
  width: 100%;
  padding-top: 75%;
  height: 0;
  position: relative;

  &__container {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
  }
}